<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- inject:css -->
    <!-- endinject -->
    <!-- build:sdk -->
    <!-- endbuild -->
</head>

<body>
    <div class="wrapper">
        <section class="section hero">
            <div class="container hero__container">
                <header class="header">
                    <div class="logo">
                        <img src="images/logo.png" alt="logo" class=" logo__img">
                    </div>
                    <div class="menu">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="#" class="menu__link">О нас</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Батончики</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Команда</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Меню</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Отзывы</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Как мы работаем</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <a href="tel:8 800 903 90 90" class="phone-number">8 800 903 90 90</a>
                </header>
                <main class="content">
                    <div class="content__promo">
                        <h1 class="title content__title">натуральные шоколадные батончики</h1>
                        <p class="content__description">Наши батончики идеально подходят для
                            тех, кто следит за своим здоровьем</p>
                        <a href="#" class="btn content__btn">Заказать</a>
                    </div>
                </main>
                <div class="features">
                    <ul class="features__list">
                        <li class="features__item">
                            <div class="features__icon features__icon_natural">
                                <img src="images/icons/5.svg" alt="natural" class="features__img">
                            </div>
                            <span class="features__text">100% натуральный продукт</span>
                        </li>
                        <li class="features__item">
                            <div class="features__icon features__icon_car">
                                <img src="images/icons/6.svg" alt="car" class="features__img">
                            </div>
                            <span class="features__text">3-5 дней доставка по РФ</span>
                        </li>
                        <li class="features__item">
                            <div class="features__icon features__icon_meter">
                                <img src="images/icons/4.svg" alt="meter" class="features__img">
                            </div>
                            <span class="features__text">Не портит фигуру</span>
                        </li>
                    </ul>
                </div>
                <img src="images/leaves.png" alt="leaves" class="leaves">
                <img src="images/leave.png" alt="leave" class="leave">
            </div>
        </section>
        <section class="section best"></section>
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>